body,html {
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    height: 100vh;
}
.flex-left {
    flex: 1 1 auto;
    height: 100%;
    width: 40vw;
    position: relative;
    min-width: 300px;
}
.flex-right {
    flex: 1 1 auto;
    height: 100%;
    width: 60vw;
}
.flex-left img {
    height: 100%;
    width: 100%;
}
.logo-background {
    position: absolute;
    top: 25%;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100px;
    color: white;
    font-size: 50px;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

}
.wrapper img {
    height: 80px;
    width: 50px;
    padding-right: 10px;
}
.flex-right .content {
    height: calc(100vh / 3);
}
.flex-right div:nth-child(odd){
    background-color: rgb(231, 231, 231);
}
div.flex-right div:nth-child(even) {
    box-shadow: 0 10px 10px -10px black;
    position: relative;
}
#header-text {
    font-size: 25px;
    width: 400px;
    font-family: 'Gill Sans Extrabold', sans-serif;
    padding-top: 100px;
    padding-left: 30px;
}
fieldset {
    height: 90%;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
form input,select {
    width: 300px;
}