body,html {
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    height: 100vh;
}
.flex-left {
    flex: 1 1 auto;
    height: 100%;
    width: 40vw;
    position: relative;
    min-width: 300px;
}
.flex-right {
    flex: 1 1 auto;
    height: 100%;
    width: 60vw;
}
.flex-left img {
    height: 100%;
    width: 100%;
}
.logo-background {
    position: absolute;
    top: 25%;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100px;
    color: white;
    font-size: 50px;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

}
.wrapper img {
    height: 80px;
    width: 50px;
    padding-right: 10px;
}
div.flex-right div.content:nth-child(odd) {
    background-color: #20525C;
    height: 25%;
}
div.flex-right div.content:nth-child(even) {
    background-color: #02353C;
    height: 50%;
}

#header-text {
    position: relative;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    color:white;
    top:50%;
}
form {
    height: 100%;
}
.grid-container {
    position: relative;
    left: 20px;
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: start;
    justify-content: start;
    margin-top: 15px;
}
legend {
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 30px;
    color: white;

}
input {
    background-color: #20525C;
    border: 1px solid #54C2CC;
}
label {
    margin-bottom: 5px;
}
input,label {
    display: block;
    width: 250px;;
    outline: none;
    height: 20px;
    color: White;
    font-size: 20px;
}
button {
    background-color: #20525C;
    border: 1px solid #54C2CC;
    height: 45px;
    width: 200px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 50px;

}
input:invalid:focus {
    border-color: red;
}
input:valid:focus {
    border-color: green;
}